
# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/
*.egg-info/
build/
dist/
.mypy_cache/
.pytest_cache/
.cache/
pip-wheel-metadata/

# Editors/IDE
.vscode/
.idea/

# Env secrets
.env
